.contact{
    position: relative;
    overflow: hidden;
    display: flex;
    height: 89%;
    flex-direction: column;
}

.contact_head{
    font-size: 2rem;
    margin-bottom: 2rem;
} 

.contact_card{
    text-align: center;
    background-color: var(--secondary);
    width: 50%;
    min-width: 50rem;
    margin: 5rem auto;
    border-radius: 1.5rem;
    padding: 2rem 4rem;
}

.contact_desc p{
    font-size: 2rem;
}

 .contact_social_links{
     display: flex;
     /* flex-direction: column; */
     justify-content: center;
 }

 .social_row{
     margin: 1rem 3rem;
     font-size: 2rem;
     display: flex;
     align-items: center;
     cursor: pointer;
     position: relative;
 }

 .social_row:hover strong{
     display: block;
 }

 .social_row strong{
     display: none;
     position: absolute;
     top: 5rem;
     right: 50%;
     transform: translateX(50%);
 }
 textarea{
     resize: none;
 }

 @media screen and (max-width:800px) {
    form{
        width: 75%;
        /* margin-bottom: 5rem; */
    }

    .contact{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .contact_social_links{
        flex-direction: row;
        justify-content: space-between;
        padding: 0 8rem;
        position: static;
        height: 5rem;
        width: 100%;
        margin-bottom: 6rem;
    }
 }